@font-face {
  font-family: 'infocaption-icomoon';
  src:  url('fonts/infocaption-icomoon.eot?4r44wn');
  src:  url('fonts/infocaption-icomoon.eot?4r44wn#iefix') format('embedded-opentype'),
    url('fonts/infocaption-icomoon.ttf?4r44wn') format('truetype'),
    url('fonts/infocaption-icomoon.woff?4r44wn') format('woff'),
    url('fonts/infocaption-icomoon.svg?4r44wn#infocaption-icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'infocaption-icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-remove-formatting:before {
  content: "\eb3d";
}
.icon-question-mark:before {
  content: "\eb3b";
}
.icon-question-mark-filled:before {
  content: "\eb3c";
}
.icon-flip-vertical:before {
  content: "\eb39";
}
.icon-flip-horizontal:before {
  content: "\eb3a";
}
.icon-contrast:before {
  content: "\eb34";
}
.icon-temperature:before {
  content: "\eb38";
}
.icon-crop:before {
  content: "\eb35";
}
.icon-saturation:before {
  content: "\eb36";
}
.icon-sharpness:before {
  content: "\eb37";
}
.icon-bold-text:before {
  content: "\eb27";
}
.icon-broken-link2:before {
  content: "\eb28";
}
.icon-bullet-list:before {
  content: "\eb2a";
}
.icon-centered-text:before {
  content: "\eb2b";
}
.icon-indent:before {
  content: "\eb2c";
}
.icon-italic-text:before {
  content: "\eb2d";
}
.icon-left-aligned-text:before {
  content: "\eb2e";
}
.icon-numbered-list:before {
  content: "\eb2f";
}
.icon-outdent:before {
  content: "\eb30";
}
.icon-overlined-text:before {
  content: "\eb31";
}
.icon-right-aligned-text:before {
  content: "\eb32";
}
.icon-underlined-text:before {
  content: "\eb33";
}
.icon-list-numbers:before {
  content: "\eb29";
}
.icon-broken-link:before {
  content: "\eb25";
}
.icon-broken-link-filled:before {
  content: "\eb26";
}
.icon-update-needed-filled:before {
  content: "\eb24";
}
.icon-heart-lifecycle:before {
  content: "\eb23";
}
.icon-gen-ai:before {
  content: "\eb22";
}
.icon-headline:before {
  content: "\eb20";
}
.icon-headline-filled:before {
  content: "\eb21";
}
.icon-goal:before {
  content: "\eb1e";
}
.icon-listmenu-outline:before {
  content: "\eb1f";
}
.icon-cursor:before {
  content: "\ea47";
}
.icon-cursor-filled:before {
  content: "\ea48";
}
.icon-go-to-end-filled:before {
  content: "\ea49";
}
.icon-go-to-start-filled:before {
  content: "\ea4a";
}
.icon-highlight:before {
  content: "\ea4b";
}
.icon-highlight-filled:before {
  content: "\ea58";
}
.icon-key:before {
  content: "\ea59";
}
.icon-key-filled:before {
  content: "\ea5a";
}
.icon-mouse-doubleclick-active:before {
  content: "\ea7d";
}
.icon-mouse-doubleclick-active-filled:before {
  content: "\ea7e";
}
.icon-mouse-doubleclick-inactive:before {
  content: "\ea7f";
}
.icon-mouse-doubleclick-inactive-filled:before {
  content: "\ea80";
}
.icon-mouse-filled:before {
  content: "\ea97";
}
.icon-mouse-filled-inactive:before {
  content: "\eac1";
}
.icon-mouse-left-active:before {
  content: "\eac2";
}
.icon-mouse-left-active-filled:before {
  content: "\ead2";
}
.icon-mouse-left-inactive:before {
  content: "\ead3";
}
.icon-mouse-left-inactive-filled:before {
  content: "\eae3";
}
.icon-mouse-outlined:before {
  content: "\eae4";
}
.icon-mouse-outlined-inactive:before {
  content: "\eaeb";
}
.icon-mouse-right-active:before {
  content: "\eaec";
}
.icon-mouse-right-active-filled:before {
  content: "\eaf8";
}
.icon-mouse-right-inactive:before {
  content: "\eaf9";
}
.icon-mouse-right-inactive-filled:before {
  content: "\eb0d";
}
.icon-polygon:before {
  content: "\eb0f";
}
.icon-polygon-filled:before {
  content: "\eb11";
}
.icon-shape-circle:before {
  content: "\eb12";
}
.icon-shape-circle-filled:before {
  content: "\eb13";
}
.icon-shape-line:before {
  content: "\eb14";
}
.icon-shape-line-filled:before {
  content: "\eb15";
}
.icon-shape-rectangle:before {
  content: "\eb16";
}
.icon-shape-rectangle-filled:before {
  content: "\eb17";
}
.icon-shape-triangle:before {
  content: "\eb18";
}
.icon-shape-triangle-filled:before {
  content: "\eb19";
}
.icon-subtitles:before {
  content: "\eb1a";
}
.icon-subtitles-filled:before {
  content: "\eb1b";
}
.icon-tools-list:before {
  content: "\eb1c";
}
.icon-tools-list-filled:before {
  content: "\eb1d";
}
.icon-chart-bar1:before {
  content: "\e993";
}
.icon-border-radius:before {
  content: "\ea24";
}
.icon-no-border-radius:before {
  content: "\ea46";
}
.icon-compass:before {
  content: "\ea23";
}
.icon-calendar-cancel:before {
  content: "\ea16";
}
.icon-diploma:before {
  content: "\ea15";
}
.icon-target2:before {
  content: "\e9dd";
}
.icon-target:before {
  content: "\e9dc";
}
.icon-physical-course:before {
  content: "\e9db";
}
.icon-storefront:before {
  content: "\e9d9";
}
.icon-storefront-filled:before {
  content: "\e9da";
}
.icon-course:before {
  content: "\e927";
}
.icon-cursor-use-filled:before {
  content: "\e9d7";
}
.icon-cursor-use-outlined:before {
  content: "\e9d8";
}
.icon-expandall:before {
  content: "\e9d3";
}
.icon-expandall-filled:before {
  content: "\e9d4";
}
.icon-minimizeall:before {
  content: "\e9d5";
}
.icon-minimizeall-filled:before {
  content: "\e9d6";
}
.icon-info:before {
  content: "\e9d1";
}
.icon-info-filled:before {
  content: "\e9d2";
}
.icon-pause-rounded-filled:before {
  content: "\e9c2";
}
.icon-pause-rounded:before {
  content: "\e9c3";
}
.icon-check-rounded-filled:before {
  content: "\e9cb";
}
.icon-check-rounded:before {
  content: "\e9d0";
}
.icon-process-settings:before {
  content: "\e9b3";
}
.icon-dragandrop:before {
  content: "\e93d";
}
.icon-dragandrop-filled:before {
  content: "\e98b";
}
.icon-reset:before {
  content: "\e98c";
}
.icon-reset-filled:before {
  content: "\e9b2";
}
.icon-next1:before {
  content: "\e910";
}
.icon-next-filled:before {
  content: "\e911";
}
.icon-pause:before {
  content: "\e912";
}
.icon-play:before {
  content: "\e915";
}
.icon-play-filled1:before {
  content: "\e926";
}
.icon-previous1:before {
  content: "\e92d";
}
.icon-previous-filled:before {
  content: "\e931";
}
.icon-diagram:before {
  content: "\e97e";
}
.icon-diagram-filled:before {
  content: "\e97f";
}
.icon-hierarchy:before {
  content: "\e987";
}
.icon-hierarchy-filled:before {
  content: "\e988";
}
.icon-list:before {
  content: "\e989";
}
.icon-list-filled:before {
  content: "\e98a";
}
.icon-useradminproducer-filled:before {
  content: "\e900";
}
.icon-useradminproducer:before {
  content: "\e907";
}
.icon-process:before {
  content: "\e932";
}
.icon-process-filled:before {
  content: "\e933";
}
.icon-process-create-connection-filled:before {
  content: "\ea95";
}
.icon-process-create-figure-filled:before {
  content: "\ea96";
}
.icon-academic-cap-filled:before {
  content: "\e957";
}
.icon-adjustments:before {
  content: "\e958";
}
.icon-adjustments-filled:before {
  content: "\e959";
}
.icon-annotation-filled:before {
  content: "\e95a";
}
.icon-archive:before {
  content: "\e95b";
}
.icon-archive-filled:before {
  content: "\e95c";
}
.icon-arrow-circle-down:before {
  content: "\e95d";
}
.icon-arrow-circle-down-filled:before {
  content: "\e95e";
}
.icon-arrow-circle-left:before {
  content: "\e95f";
}
.icon-arrow-circle-left-filled:before {
  content: "\e960";
}
.icon-arrow-circle-right:before {
  content: "\e961";
}
.icon-arrow-circle-right-filled:before {
  content: "\e962";
}
.icon-arrow-circle-up:before {
  content: "\e963";
}
.icon-arrow-circle-up-filled:before {
  content: "\e964";
}
.icon-arrow-down1:before {
  content: "\e965";
}
.icon-arrow-down-filled:before {
  content: "\e966";
}
.icon-arrow-left1:before {
  content: "\e967";
}
.icon-arrow-left-filled:before {
  content: "\e968";
}
.icon-arrow-narrow-down:before {
  content: "\e969";
}
.icon-arrow-narrow-down-filled:before {
  content: "\e96a";
}
.icon-arrow-narrow-left:before {
  content: "\e96b";
}
.icon-arrow-narrow-left-filled:before {
  content: "\e96c";
}
.icon-arrow-narrow-right:before {
  content: "\e96d";
}
.icon-arrow-narrow-right-filled:before {
  content: "\e96e";
}
.icon-arrow-narrow-up:before {
  content: "\e96f";
}
.icon-arrow-narrow-up-filled:before {
  content: "\e970";
}
.icon-arrow-right:before {
  content: "\e971";
}
.icon-arrow-right-filled:before {
  content: "\e972";
}
.icon-arrows-expand:before {
  content: "\e973";
}
.icon-arrows-expand-filled:before {
  content: "\e974";
}
.icon-arrow-up1:before {
  content: "\e975";
}
.icon-arrow-up-filled:before {
  content: "\e976";
}
.icon-at-symbol:before {
  content: "\e977";
}
.icon-at-symbol-filled:before {
  content: "\e978";
}
.icon-backspace:before {
  content: "\e979";
}
.icon-backspace-filled:before {
  content: "\e97a";
}
.icon-badge-check-filled:before {
  content: "\e97b";
}
.icon-ban:before {
  content: "\e97c";
}
.icon-ban-filled:before {
  content: "\e97d";
}
.icon-bell:before {
  content: "\e980";
}
.icon-bell-filled:before {
  content: "\e981";
}
.icon-bookmark-alt:before {
  content: "\e982";
}
.icon-bookmark-alt-filled:before {
  content: "\e983";
}
.icon-bookmark-filled:before {
  content: "\e984";
}
.icon-book-open:before {
  content: "\e985";
}
.icon-book-open-filled:before {
  content: "\e986";
}
.icon-calendar:before {
  content: "\e98d";
}
.icon-calendar-filled:before {
  content: "\e98e";
}
.icon-camera:before {
  content: "\e98f";
}
.icon-camera-filled:before {
  content: "\e990";
}
.icon-cash:before {
  content: "\e991";
}
.icon-cash-filled:before {
  content: "\e992";
}
.icon-chart-bar-filled:before {
  content: "\e994";
}
.icon-chart-pie:before {
  content: "\e995";
}
.icon-chart-pie-filled:before {
  content: "\e996";
}
.icon-chart-square-bar:before {
  content: "\e997";
}
.icon-chart-square-bar-filled:before {
  content: "\e998";
}
.icon-chat:before {
  content: "\e999";
}
.icon-chat-alt1:before {
  content: "\e99a";
}
.icon-chat-alt-2-filled:before {
  content: "\e99b";
}
.icon-chat-alt-filled:before {
  content: "\e99c";
}
.icon-chat-filled:before {
  content: "\e99d";
}
.icon-check:before {
  content: "\e99e";
}
.icon-check-circle:before {
  content: "\e99f";
}
.icon-check-circle-filled:before {
  content: "\e9a0";
}
.icon-check-filled:before {
  content: "\e9a1";
}
.icon-chevron-double-down:before {
  content: "\e9a2";
}
.icon-chevron-double-down-filled:before {
  content: "\e9a3";
}
.icon-chevron-double-left:before {
  content: "\e9a4";
}
.icon-chevron-double-left-filled:before {
  content: "\e9a5";
}
.icon-chevron-double-right:before {
  content: "\e9a6";
}
.icon-chevron-double-right-filled:before {
  content: "\e9a7";
}
.icon-chevron-double-up:before {
  content: "\e9a8";
}
.icon-chevron-double-up-filled:before {
  content: "\e9a9";
}
.icon-chevron-down:before {
  content: "\e9aa";
}
.icon-chevron-down-filled:before {
  content: "\e9ab";
}
.icon-chevron-left1:before {
  content: "\e9ac";
}
.icon-chevron-left-filled:before {
  content: "\e9ad";
}
.icon-chevron-right1:before {
  content: "\e9ae";
}
.icon-chevron-right-filled:before {
  content: "\e9af";
}
.icon-chevron-up:before {
  content: "\e9b0";
}
.icon-chevron-up-filled:before {
  content: "\e9b1";
}
.icon-clipboard:before {
  content: "\e9b4";
}
.icon-clipboard-check:before {
  content: "\e9b5";
}
.icon-clipboard-check-filled:before {
  content: "\e9b6";
}
.icon-clipboard-copy:before {
  content: "\e9b7";
}
.icon-clipboard-copy-filled:before {
  content: "\e9b8";
}
.icon-clipboard-filled:before {
  content: "\e9b9";
}
.icon-clipboard-list:before {
  content: "\e9ba";
}
.icon-clipboard-list-filled:before {
  content: "\e9bb";
}
.icon-clock-filled:before {
  content: "\e9bc";
}
.icon-cloud:before {
  content: "\e9bd";
}
.icon-cloud-download-filled:before {
  content: "\e9be";
}
.icon-cloud-filled:before {
  content: "\e9bf";
}
.icon-cloud-upload1:before {
  content: "\e9c0";
}
.icon-cloud-upload-filled:before {
  content: "\e9c1";
}
.icon-code:before {
  content: "\e9c4";
}
.icon-code-filled:before {
  content: "\e9c5";
}
.icon-cog-filled:before {
  content: "\e9c6";
}
.icon-collection-filled:before {
  content: "\e9c7";
}
.icon-color-swatch-filled:before {
  content: "\e9c8";
}
.icon-credit-card:before {
  content: "\e9c9";
}
.icon-credit-card-filled:before {
  content: "\e9ca";
}
.icon-cube:before {
  content: "\e9cc";
}
.icon-cube-filled:before {
  content: "\e9cd";
}
.icon-cube-transparent:before {
  content: "\e9ce";
}
.icon-cube-transparent-filled:before {
  content: "\e9cf";
}
.icon-cursor-click:before {
  content: "\e9de";
}
.icon-cursor-click-filled:before {
  content: "\e9df";
}
.icon-database:before {
  content: "\e9e0";
}
.icon-database-filled:before {
  content: "\e9e1";
}
.icon-desktop-computer:before {
  content: "\e9e2";
}
.icon-desktop-computer-filled:before {
  content: "\e9e3";
}
.icon-device-mobile:before {
  content: "\e9e4";
}
.icon-device-mobile-filled:before {
  content: "\e9e5";
}
.icon-device-tablet:before {
  content: "\e9e6";
}
.icon-device-tablet-filled:before {
  content: "\e9e7";
}
.icon-document-add:before {
  content: "\e9e8";
}
.icon-document-add-filled:before {
  content: "\e9e9";
}
.icon-document-download:before {
  content: "\e9ea";
}
.icon-document-download-filled:before {
  content: "\e9eb";
}
.icon-document-duplicate:before {
  content: "\e9ec";
}
.icon-document-duplicate-filled:before {
  content: "\e9ed";
}
.icon-document-filled:before {
  content: "\e9ee";
}
.icon-document-remove:before {
  content: "\e9ef";
}
.icon-document-remove-filled:before {
  content: "\e9f0";
}
.icon-document-report:before {
  content: "\e9f1";
}
.icon-document-report-filled:before {
  content: "\e9f2";
}
.icon-document-search:before {
  content: "\e9f3";
}
.icon-document-search-filled:before {
  content: "\e9f4";
}
.icon-document-text:before {
  content: "\e9f5";
}
.icon-document-text-filled:before {
  content: "\e9f6";
}
.icon-dots-circle-horizontal:before {
  content: "\e9f7";
}
.icon-dots-circle-horizontal-filled:before {
  content: "\e9f8";
}
.icon-dots-horizontal-filled:before {
  content: "\e9f9";
}
.icon-dots-vertical:before {
  content: "\e9fa";
}
.icon-dots-vertical-filled:before {
  content: "\e9fb";
}
.icon-download1:before {
  content: "\e9fc";
}
.icon-download-filled:before {
  content: "\e9fd";
}
.icon-duplicate:before {
  content: "\e9fe";
}
.icon-duplicate-filled:before {
  content: "\e9ff";
}
.icon-emoji-happy:before {
  content: "\ea00";
}
.icon-emoji-happy-filled:before {
  content: "\ea01";
}
.icon-emoji-sad:before {
  content: "\ea02";
}
.icon-emoji-sad-filled:before {
  content: "\ea03";
}
.icon-exclamation:before {
  content: "\ea04";
}
.icon-exclamation-circle:before {
  content: "\ea05";
}
.icon-exclamation-circle-filled:before {
  content: "\ea06";
}
.icon-exclamation-filled:before {
  content: "\ea07";
}
.icon-external-link-filled:before {
  content: "\ea08";
}
.icon-eye1:before {
  content: "\ea09";
}
.icon-eye-filled:before {
  content: "\ea0a";
}
.icon-eye-off:before {
  content: "\ea0b";
}
.icon-eye-off-filled:before {
  content: "\ea0c";
}
.icon-fast-forward1:before {
  content: "\ea0d";
}
.icon-fast-forward-filled:before {
  content: "\ea0e";
}
.icon-film:before {
  content: "\ea0f";
}
.icon-film-filled:before {
  content: "\ea10";
}
.icon-filter:before {
  content: "\ea11";
}
.icon-filter-filled:before {
  content: "\ea12";
}
.icon-finger-print:before {
  content: "\ea13";
}
.icon-finger-print-filled:before {
  content: "\ea14";
}
.icon-flag:before {
  content: "\ea17";
}
.icon-flag-filled:before {
  content: "\ea18";
}
.icon-folder:before {
  content: "\ea19";
}
.icon-folder-add:before {
  content: "\ea1a";
}
.icon-folder-add-filled:before {
  content: "\ea1b";
}
.icon-folder-download:before {
  content: "\ea1c";
}
.icon-folder-download-filled:before {
  content: "\ea1d";
}
.icon-folder-filled:before {
  content: "\ea1e";
}
.icon-folder-open1:before {
  content: "\ea1f";
}
.icon-folder-open-filled:before {
  content: "\ea20";
}
.icon-folder-remove:before {
  content: "\ea21";
}
.icon-folder-remove-filled:before {
  content: "\ea22";
}
.icon-globe:before {
  content: "\ea25";
}
.icon-globe-alt-filled:before {
  content: "\ea26";
}
.icon-globe-filled:before {
  content: "\ea27";
}
.icon-hand:before {
  content: "\ea28";
}
.icon-hand-filled:before {
  content: "\ea29";
}
.icon-hashtag:before {
  content: "\ea2a";
}
.icon-hashtag-filled:before {
  content: "\ea2b";
}
.icon-heart:before {
  content: "\ea2c";
}
.icon-heart-filled:before {
  content: "\ea2d";
}
.icon-home-filled:before {
  content: "\ea2e";
}
.icon-identification:before {
  content: "\ea2f";
}
.icon-identification-filled:before {
  content: "\ea30";
}
.icon-inbox:before {
  content: "\ea31";
}
.icon-inbox-filled:before {
  content: "\ea32";
}
.icon-inbox-in:before {
  content: "\ea33";
}
.icon-inbox-in-filled:before {
  content: "\ea34";
}
.icon-information-circle-filled:before {
  content: "\ea35";
}
.icon-key1:before {
  content: "\ea36";
}
.icon-key-filled1:before {
  content: "\ea37";
}
.icon-library:before {
  content: "\ea38";
}
.icon-library-filled:before {
  content: "\ea39";
}
.icon-light-bulb:before {
  content: "\ea3a";
}
.icon-light-bulb-filled:before {
  content: "\ea3b";
}
.icon-lightning-bolt:before {
  content: "\ea3c";
}
.icon-lightning-bolt-filled:before {
  content: "\ea3d";
}
.icon-link-filled:before {
  content: "\ea3e";
}
.icon-location-marker:before {
  content: "\ea3f";
}
.icon-location-marker-filled:before {
  content: "\ea40";
}
.icon-lock-closed:before {
  content: "\ea41";
}
.icon-lock-closed-filled:before {
  content: "\ea42";
}
.icon-lock-open:before {
  content: "\ea43";
}
.icon-lock-open-filled:before {
  content: "\ea44";
}
.icon-login:before {
  content: "\ea45";
}
.icon-login-filled:before {
  content: "\ea4c";
}
.icon-logout:before {
  content: "\ea4d";
}
.icon-logout-filled:before {
  content: "\ea4e";
}
.icon-mail1:before {
  content: "\ea4f";
}
.icon-mail-filled:before {
  content: "\ea50";
}
.icon-mail-open:before {
  content: "\ea51";
}
.icon-mail-open-filled:before {
  content: "\ea52";
}
.icon-map:before {
  content: "\ea53";
}
.icon-map-filled:before {
  content: "\ea54";
}
.icon-menu:before {
  content: "\ea55";
}
.icon-menu-alt-1:before {
  content: "\ea56";
}
.icon-menu-alt-1-filled:before {
  content: "\ea57";
}
.icon-menu-alt-2:before {
  content: "\ea5b";
}
.icon-menu-alt-2-filled:before {
  content: "\ea5c";
}
.icon-menu-alt-3:before {
  content: "\ea5d";
}
.icon-menu-alt-3-filled:before {
  content: "\ea5e";
}
.icon-menu-alt-4:before {
  content: "\ea5f";
}
.icon-menu-alt-4-filled:before {
  content: "\ea60";
}
.icon-menu-filled:before {
  content: "\ea61";
}
.icon-microphone:before {
  content: "\ea62";
}
.icon-microphone-filled:before {
  content: "\ea63";
}
.icon-minus:before {
  content: "\ea64";
}
.icon-minus-circle:before {
  content: "\ea65";
}
.icon-minus-circle-filled:before {
  content: "\ea66";
}
.icon-minus-filled:before {
  content: "\ea67";
}
.icon-minus-sm:before {
  content: "\ea68";
}
.icon-minus-sm-filled:before {
  content: "\ea69";
}
.icon-moon:before {
  content: "\ea6a";
}
.icon-moon-filled:before {
  content: "\ea6b";
}
.icon-music-note:before {
  content: "\ea6c";
}
.icon-music-note-filled:before {
  content: "\ea6d";
}
.icon-newspaper-filled:before {
  content: "\ea6e";
}
.icon-office-building-filled:before {
  content: "\ea6f";
}
.icon-paper-airplane:before {
  content: "\ea70";
}
.icon-paper-airplane-filled:before {
  content: "\ea71";
}
.icon-paper-clip1:before {
  content: "\ea72";
}
.icon-paper-clip-filled:before {
  content: "\ea73";
}
.icon-pause1:before {
  content: "\ea74";
}
.icon-pause-filled:before {
  content: "\ea75";
}
.icon-pencil:before {
  content: "\ea76";
}
.icon-pencil-alt:before {
  content: "\ea77";
}
.icon-pencil-alt-filled:before {
  content: "\ea78";
}
.icon-pencil-filled:before {
  content: "\ea79";
}
.icon-phone-filled:before {
  content: "\ea7a";
}
.icon-phone-incoming:before {
  content: "\ea7b";
}
.icon-phone-incoming-filled:before {
  content: "\ea7c";
}
.icon-phone-missed-call:before {
  content: "\ea81";
}
.icon-phone-missed-call-filled:before {
  content: "\ea82";
}
.icon-phone-outgoing:before {
  content: "\ea83";
}
.icon-phone-outgoing-filled:before {
  content: "\ea84";
}
.icon-photograph1:before {
  content: "\ea85";
}
.icon-photograph-filled:before {
  content: "\ea86";
}
.icon-play1:before {
  content: "\ea87";
}
.icon-play-filled:before {
  content: "\ea88";
}
.icon-plus:before {
  content: "\ea89";
}
.icon-plus-circle:before {
  content: "\ea8a";
}
.icon-plus-circle-filled:before {
  content: "\ea8b";
}
.icon-plus-filled:before {
  content: "\ea8c";
}
.icon-plus-sm:before {
  content: "\ea8d";
}
.icon-plus-sm-filled:before {
  content: "\ea8e";
}
.icon-presentation-chart-bar:before {
  content: "\ea8f";
}
.icon-presentation-chart-bar-filled:before {
  content: "\ea90";
}
.icon-presentation-chart-line:before {
  content: "\ea91";
}
.icon-presentation-chart-line-filled:before {
  content: "\ea92";
}
.icon-printer1:before {
  content: "\ea93";
}
.icon-printer-filled:before {
  content: "\ea94";
}
.icon-puzzle:before {
  content: "\ea98";
}
.icon-puzzle-filled:before {
  content: "\ea99";
}
.icon-qrcode1:before {
  content: "\ea9a";
}
.icon-qrcode-filled:before {
  content: "\ea9b";
}
.icon-question-mark-circle-filled:before {
  content: "\ea9c";
}
.icon-receipt-refund:before {
  content: "\ea9d";
}
.icon-receipt-refund-filled:before {
  content: "\ea9e";
}
.icon-receipt-tax:before {
  content: "\ea9f";
}
.icon-receipt-tax-filled:before {
  content: "\eaa0";
}
.icon-refresh:before {
  content: "\eaa1";
}
.icon-refresh-filled:before {
  content: "\eaa2";
}
.icon-reply:before {
  content: "\eaa3";
}
.icon-reply-filled:before {
  content: "\eaa4";
}
.icon-rewind:before {
  content: "\eaa5";
}
.icon-rewind-filled:before {
  content: "\eaa6";
}
.icon-rss1:before {
  content: "\eaa7";
}
.icon-rss-filled:before {
  content: "\eaa8";
}
.icon-save1:before {
  content: "\eaa9";
}
.icon-save-as:before {
  content: "\eaaa";
}
.icon-save-as-filled:before {
  content: "\eaab";
}
.icon-save-filled:before {
  content: "\eaac";
}
.icon-scale:before {
  content: "\eaad";
}
.icon-scale-filled:before {
  content: "\eaae";
}
.icon-scissors1:before {
  content: "\eaaf";
}
.icon-scissors-filled:before {
  content: "\eab0";
}
.icon-search:before {
  content: "\eab1";
}
.icon-search-circle:before {
  content: "\eab2";
}
.icon-search-circle-filled:before {
  content: "\eab3";
}
.icon-search-filled:before {
  content: "\eab4";
}
.icon-selector:before {
  content: "\eab5";
}
.icon-selector-filled:before {
  content: "\eab6";
}
.icon-server:before {
  content: "\eab7";
}
.icon-server-filled:before {
  content: "\eab8";
}
.icon-share1:before {
  content: "\eab9";
}
.icon-share-filled:before {
  content: "\eaba";
}
.icon-shield-check:before {
  content: "\eabb";
}
.icon-shield-check-filled:before {
  content: "\eabc";
}
.icon-shield-exclamation:before {
  content: "\eabd";
}
.icon-shield-exclamation-filled:before {
  content: "\eabe";
}
.icon-shopping-bag:before {
  content: "\eabf";
}
.icon-shopping-bag-filled:before {
  content: "\eac0";
}
.icon-sort-ascending:before {
  content: "\eac3";
}
.icon-sort-ascending-filled:before {
  content: "\eac4";
}
.icon-sort-descending:before {
  content: "\eac5";
}
.icon-sort-descending-filled:before {
  content: "\eac6";
}
.icon-sparkles:before {
  content: "\eac7";
}
.icon-sparkles-filled:before {
  content: "\eac8";
}
.icon-speakerphone-filled:before {
  content: "\eac9";
}
.icon-star-filled:before {
  content: "\eaca";
}
.icon-status-offline:before {
  content: "\eacb";
}
.icon-status-offline-filled:before {
  content: "\eacc";
}
.icon-status-online-filled:before {
  content: "\eacd";
}
.icon-stop1:before {
  content: "\eace";
}
.icon-stop-filled:before {
  content: "\eacf";
}
.icon-sun:before {
  content: "\ead0";
}
.icon-sun-filled:before {
  content: "\ead1";
}
.icon-switch-horizontal-filled:before {
  content: "\ead4";
}
.icon-switch-vertical:before {
  content: "\ead5";
}
.icon-switch-vertical-filled:before {
  content: "\ead6";
}
.icon-table:before {
  content: "\ead7";
}
.icon-table-filled:before {
  content: "\ead8";
}
.icon-tag-filled:before {
  content: "\ead9";
}
.icon-template1:before {
  content: "\eada";
}
.icon-template-filled1:before {
  content: "\eadb";
}
.icon-terminal:before {
  content: "\eadc";
}
.icon-terminal-filled:before {
  content: "\eadd";
}
.icon-thumb-down:before {
  content: "\eade";
}
.icon-thumb-down-filled:before {
  content: "\eadf";
}
.icon-thumb-up-filled:before {
  content: "\eae0";
}
.icon-ticket:before {
  content: "\eae1";
}
.icon-ticket-filled:before {
  content: "\eae2";
}
.icon-trash:before {
  content: "\eae5";
}
.icon-trash-filled:before {
  content: "\eae6";
}
.icon-trending-down:before {
  content: "\eae7";
}
.icon-trending-down-filled:before {
  content: "\eae8";
}
.icon-trending-up:before {
  content: "\eae9";
}
.icon-trending-up-filled:before {
  content: "\eaea";
}
.icon-upload:before {
  content: "\eaed";
}
.icon-upload-filled:before {
  content: "\eaee";
}
.icon-user-add1:before {
  content: "\eaef";
}
.icon-user-add-filled:before {
  content: "\eaf0";
}
.icon-user-circle:before {
  content: "\eaf1";
}
.icon-user-circle-filled:before {
  content: "\eaf2";
}
.icon-user-filled:before {
  content: "\eaf3";
}
.icon-user-group-filled:before {
  content: "\eaf4";
}
.icon-user-remove:before {
  content: "\eaf5";
}
.icon-user-remove-filled:before {
  content: "\eaf6";
}
.icon-users-filled:before {
  content: "\eaf7";
}
.icon-video-camera-filled:before {
  content: "\eafa";
}
.icon-view-boards:before {
  content: "\eafb";
}
.icon-view-boards-filled:before {
  content: "\eafc";
}
.icon-view-grid:before {
  content: "\eafd";
}
.icon-view-grid-add:before {
  content: "\eafe";
}
.icon-view-grid-add-filled:before {
  content: "\eaff";
}
.icon-view-grid-filled:before {
  content: "\eb00";
}
.icon-view-list:before {
  content: "\eb01";
}
.icon-view-list-filled:before {
  content: "\eb02";
}
.icon-volume-off:before {
  content: "\eb03";
}
.icon-volume-off-filled:before {
  content: "\eb04";
}
.icon-volume-up:before {
  content: "\eb05";
}
.icon-volume-up-filled:before {
  content: "\eb06";
}
.icon-wifi:before {
  content: "\eb07";
}
.icon-wifi-filled:before {
  content: "\eb08";
}
.icon-x:before {
  content: "\eb09";
}
.icon-x-circle:before {
  content: "\eb0a";
}
.icon-x-circle-filled:before {
  content: "\eb0b";
}
.icon-x-filled:before {
  content: "\eb0c";
}
.icon-zoom-in-filled:before {
  content: "\eb0e";
}
.icon-zoom-out-filled:before {
  content: "\eb10";
}
.icon-document:before {
  content: "\e949";
}
.icon-photograph:before {
  content: "\e920";
}
.icon-brush:before {
  content: "\e917";
}
.icon-knowledgetest:before {
  content: "\e92c";
}
.icon-blank-section-thick:before {
  content: "\e956";
}
.icon-annotation:before {
  content: "\e953";
}
.icon-template-filled:before {
  content: "\e955";
}
.icon-academic-cap:before {
  content: "\e918";
}
.icon-badge-check:before {
  content: "\e919";
}
.icon-bookmark1:before {
  content: "\e91a";
}
.icon-bug-recorder:before {
  content: "\e91b";
}
.icon-chart-bar:before {
  content: "\e91c";
}
.icon-chat-alt:before {
  content: "\e91d";
}
.icon-chat-alt-2:before {
  content: "\e91e";
}
.icon-clock1:before {
  content: "\e91f";
}
.icon-cloud-download1:before {
  content: "\e921";
}
.icon-cog1:before {
  content: "\e922";
}
.icon-collection:before {
  content: "\e924";
}
.icon-color-swatch:before {
  content: "\e925";
}
.icon-dots-horizontal:before {
  content: "\e928";
}
.icon-external-link1:before {
  content: "\e929";
}
.icon-globe-alt:before {
  content: "\e92a";
}
.icon-guide:before {
  content: "\e92b";
}
.icon-guide-filled:before {
  content: "\e92e";
}
.icon-home1:before {
  content: "\e92f";
}
.icon-import:before {
  content: "\e930";
}
.icon-information-circle:before {
  content: "\e935";
}
.icon-link9:before {
  content: "\e936";
}
.icon-link21:before {
  content: "\e937";
}
.icon-newspaper1:before {
  content: "\e939";
}
.icon-office-building:before {
  content: "\e93a";
}
.icon-outline:before {
  content: "\e93b";
}
.icon-phone1:before {
  content: "\e93c";
}
.icon-pushtraining:before {
  content: "\e93e";
}
.icon-question-mark-circle:before {
  content: "\e93f";
}
.icon-quickguide:before {
  content: "\e940";
}
.icon-ranking:before {
  content: "\e941";
}
.icon-speakerphone:before {
  content: "\e942";
}
.icon-star1:before {
  content: "\e943";
}
.icon-status-online:before {
  content: "\e944";
}
.icon-stepbystep:before {
  content: "\e945";
}
.icon-switch-horizontal:before {
  content: "\e946";
}
.icon-tag1:before {
  content: "\e947";
}
.icon-template:before {
  content: "\e948";
}
.icon-textguide:before {
  content: "\e94a";
}
.icon-text-tool:before {
  content: "\e94b";
}
.icon-thumb-up:before {
  content: "\e94c";
}
.icon-trending-up1:before {
  content: "\e94d";
}
.icon-user1:before {
  content: "\e94e";
}
.icon-user-group:before {
  content: "\e94f";
}
.icon-users1:before {
  content: "\e950";
}
.icon-video-camera1:before {
  content: "\e951";
}
.icon-workflow:before {
  content: "\e952";
}
.icon-globe11:before {
  content: "\e913";
  color: #4a5568;
}
.icon-user-group1:before {
  content: "\e914";
  color: #4a5568;
}
.icon-grid:before {
  content: "\e6e5";
}
.icon-cancel3:before {
  content: "\e63e";
}
.icon-checkmark3:before {
  content: "\e63f";
}
.icon-brush1:before {
  content: "\e642";
}
.icon-reply1:before {
  content: "\e645";
}
.icon-forward3:before {
  content: "\e646";
}
.icon-blank-section-thick1:before {
  content: "\e916";
}
.icon-add:before {
  content: "\e145";
}
.icon-arrow_drop_down:before {
  content: "\e5c5";
}
.icon-arrow_drop_up:before {
  content: "\e5c7";
}
.icon-attach_file:before {
  content: "\e226";
}
.icon-attachment1:before {
  content: "\e2bc";
}
.icon-autorenew:before {
  content: "\e863";
}
.icon-turned_in_not:before {
  content: "\e8e7";
}
.icon-format_align_center:before {
  content: "\e234";
}
.icon-format_align_justify:before {
  content: "\e235";
}
.icon-format_align_left:before {
  content: "\e236";
}
.icon-format_align_right:before {
  content: "\e237";
}
.icon-format_line_spacing:before {
  content: "\e240";
}
.icon-fullscreen1:before {
  content: "\e5d0";
}
.icon-fullscreen_exit:before {
  content: "\e5d1";
}
.icon-menu11:before {
  content: "\e5d2";
}
.icon-message1:before {
  content: "\e0c9";
}
.icon-person:before {
  content: "\e7fd";
}
.icon-person_add:before {
  content: "\e7fe";
}
.icon-refresh11:before {
  content: "\e5d5";
}
.icon-remove1:before {
  content: "\e15b";
}
.icon-warning1:before {
  content: "\e0a4";
}
.icon-share11:before {
  content: "\e80d";
}
.icon-update:before {
  content: "\e923";
}
.icon-vertical_align_bottom:before {
  content: "\e258";
}
.icon-vertical_align_center:before {
  content: "\e259";
}
.icon-vertical_align_top:before {
  content: "\e25a";
}
.icon-youtube_searched_for:before {
  content: "\e8fa";
}
.icon-zoom_out:before {
  content: "\e90e";
}
.icon-rectangle-2-evenly:before {
  content: "\e901";
}
.icon-rectangle-2le-1rb:before {
  content: "\e902";
}
.icon-rectangle-3-evenly:before {
  content: "\e903";
}
.icon-rectangle-4-evenly:before {
  content: "\e904";
}
.icon-recrangle-full:before {
  content: "\e905";
}
.icon-rectangle-1lb-1rs:before {
  content: "\e906";
}
.icon-rectangle-1lb-1rsm:before {
  content: "\e908";
}
.icon-rectangle-1lb-2re:before {
  content: "\e909";
}
.icon-rectangle-1ls-1rb:before {
  content: "\e90a";
}
.icon-rectangle-1lsm-1rb:before {
  content: "\e90b";
}
.icon-blank-section:before {
  content: "\e90d";
}
.icon-blank-text:before {
  content: "\e90f";
}
.icon-dashboard3:before {
  content: "\e731";
}
.icon-visibility:before {
  content: "\e6fc";
}
.icon-visibility-off:before {
  content: "\e6fd";
}
.icon-play-arrow:before {
  content: "\e707";
}
.icon-comment:before {
  content: "\e708";
}
.icon-chevron-left3:before {
  content: "\e710";
}
.icon-chevron-right3:before {
  content: "\e711";
}
.icon-expand-less:before {
  content: "\e712";
}
.icon-expand-more:before {
  content: "\e713";
}
.icon-align-right1:before {
  content: "\e934";
}
.icon-align-top:before {
  content: "\e938";
}
.icon-align-vertical-middle:before {
  content: "\e954";
}
.icon-ok:before {
  content: "\f00c";
}
.icon-list-ul:before {
  content: "\f0ca";
}
.icon-checkmark:before {
  content: "\e007";
}
.icon-plus2:before {
  content: "\f067";
}
.icon-users2:before {
  content: "\e02a";
}
.icon-home:before {
  content: "\f015";
}
.icon-radio-checked:before {
  content: "\e03a";
}
.icon-radio-unchecked:before {
  content: "\e03b";
}
.icon-bars2:before {
  content: "\e000";
}
.icon-picture:before {
  content: "\e064";
}
.icon-star:before {
  content: "\f005";
}
.icon-processes:before {
  content: "\e098";
}
.icon-Subprocess:before {
  content: "\e09b";
}
.icon-Parent-process:before {
  content: "\e09c";
}
.icon-playback-pause:before {
  content: "\e90c";
}
.icon-alert:before {
  content: "\f02e";
}
.icon-image2:before {
  content: "\e6df";
}
.icon-star2:before {
  content: "\e615";
}
.icon-star4:before {
  content: "\e617";
}
.icon-previous:before {
  content: "\e61e";
}
.icon-next:before {
  content: "\e61f";
}
.icon-play2:before {
  content: "\e622";
}
.icon-radio-unchecked2:before {
  content: "\e627";
}
.icon-favorite:before {
  content: "\e634";
}
.icon-fastleft:before {
  content: "\e639";
}
.icon-fastright:before {
  content: "\e679";
}
.icon-th2:before {
  content: "\f01d";
}
.icon-check1:before {
  content: "\f020";
}
.icon-list7:before {
  content: "\f05f";
}
.icon-arrows-v2:before {
  content: "\f0bc";
}
.icon-sort:before {
  content: "\f113";
}
.icon-unsorted:before {
  content: "\f113";
}
.icon-graduation-cap2:before {
  content: "\f1c9";
}
.icon-mortar-board:before {
  content: "\f1c9";
}
.icon-file-pdf-o:before {
  content: "\f1ea";
}
.icon-file-word-o:before {
  content: "\f1eb";
}
.icon-file-excel-o:before {
  content: "\f1ec";
}
.icon-paint-brush2:before {
  content: "\f222";
}
.icon-arrows2:before {
  content: "\f266";
}
.icon-paint-brush:before {
  content: "\f2d4";
}
.icon-gears:before {
  content: "\f085";
}
.icon-ok2:before {
  content: "\e6be";
}
.icon-angle-left:before {
  content: "\e666";
}
.icon-angle-right:before {
  content: "\e667";
}
.icon-exclamation1:before {
  content: "\e670";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-cancel2:before {
  content: "\e009";
}
.icon-fullscreen-exit:before {
  content: "\e083";
}
